.Navbar li::before{
    content: '';
    color:rgba(0, 0, 0, 0.565);
}

.dropdown:hover #content::before{
    content: '▼';
}

.country{  
  display: flex;
  cursor: pointer;
}

.country-child{
  padding-left: 16px;
}
.country:hover #content::before {
  content: '▼';
  cursor: pointer;
}

 #content::before {
  color: rgb(209, 213, 250);
  position:absolute;
  content: '▶';
}


p{
  padding-top: 10px;
  margin: 0;
  font-weight: 500;
  font-family: auto;
  padding-bottom: 10px;
}




.title{
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 18px;
  font-family: none;
  font-weight: 800;

}



.header{
    text-align: center;
}
body{
    margin: 0px;
    max-height: 100vh;
}
.click:hover{
  color: blue;
  cursor: pointer;
  text-decoration: underline;


}
.click{
  color: blue;
}
.click:active{
  color: rgb(0, 145, 255);
}
.Top-Headline{
    margin: 0px;
       /* padding-left: 90px; */
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: center;
    font-size: 1.3rem;
    font-family: serif;
    color:white;
    font-weight: 600;
    background-color:  rgba(93, 89, 89, 0.859);   ;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 50px;
    padding-right: 50px;    
    box-shadow: 10px 3px 5px black;   
}
.quickGlance{
    margin: 0px;
    padding-bottom: 3px;
    font-family: ui-serif;
    background-color: rgb(185 110 9);
    color: #ffffff;
}

.dropdown-content {
  position: absolute;
  background-color: #ffffffab;
  border-radius: 10px;
  opacity: 0;
  height: 0px;
  -webkit-transition:   height 0.55s ease;
  -moz-transition: height 0.55s ease;
  -o-transition: height 0.55s ease;
  transition: height 0.55s ease;
  left: 0px;
  padding-left: 30px;
  visibility: hidden;

}


.dropdown-content div{  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  letter-spacing: 2px;
  border-radius: 25px;
  padding-right: 30px;
  padding-left: 15px;
  padding-bottom: 6px;
  padding-top: 6px;
  transform: translateX(-30px);
  -webkit-transition: opacity 2s ease 0s,background-color 1s ease ,transform 0.50s ease;
  -moz-transition: opacity 2s ease 0s ,background-color 1s ease , transform 0.50s ease;
  -o-transition:   opacity 2s ease 0s,background-color 1s ease ,transform 0.50s ease;
  transition:   opacity 2s ease 0s,background-color 1s ease ,transform 0.50s ease;
  
 }

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgb(252, 249, 249);
  opacity: 1;
  height: 210px;
  cursor: pointer;
  color: black;
  transform: translateY(0);
  visibility: visible;
}
.dropdown:hover .dropdown-content>div{
    opacity: 1;
}
.dropdown .dropdown-content div:hover {
    color: red;
    transform: translateX(0);
    background-color: gainsboro;

}


.AllinOneHeadings::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  
.AllinOneHeadings::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the scrollbar thumb */
  }
  
.AllinOneHeadings::-webkit-scrollbar-track {
    background-color: transparent; 
    scroll-behavior: smooth;
}
.AllinOneHeadings{
    display: grid;  
    justify-content: end;
    position: absolute;
    height: 100vh;
    
    padding-top:50px ;
    left: 870px;
    top:88px;
    overflow-y: scroll;
    font-weight: 900;
    background-color: rgba(194, 218, 239, 0.934);
    font-family: math;
    padding-left: 5px;
    font-size: 1.4rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
    gap: 20px; /* responsive critical part */
    
   
}
.eachHeading{
      margin : 0px;
      width: 30vw;
      word-spacing: 3.5px;
      
  
}
.paraNheadings{
    display: flex;
   
}

  
.NewsPara {
    position: absolute;
    width: 800px;
    padding-left: 20px;
    top: 90px; /* Remove it when adding background Pic for News Paragraph */
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.3em;
    font-family: revert;
    max-height: 100vh;

  }
  
  .parent-top-headline{
    position: absolute;
    left:920px;

  }

  .NewsPara::-webkit-scrollbar{
    width:6px;
    background-color: transparent;
  }
  .NewsPara::-webkit-scrollbar-track {
   
    scroll-behavior: smooth;
}

.Navbar{
    margin : 0px;
    gap: 95px;
    padding-left: 20px;
    display : flex; 
    align-items: center;
    list-style-type : none;
    padding-top : 10px;  
    padding-bottom:10px ;
    font-family: inherit;
    color:aliceblue;
    font-size: 1.1rem;
    letter-spacing: 1px;
 
}

  @media only screen and (max-width: 1105px){
     *{
      box-sizing: border-box;
     }
      .NavNheader{
        padding-right: 1100px;
      }
      .eachHeading{
        width: 220px;
      }
      .header{
        width: 1103px; 
      }
      .parent-top-headline {
        position: absolute;
        left: 880px;
      }
      .Top-Headline{
        padding-top: 4px;
        padding-bottom: 4px;
        box-shadow: none;
      }
      }
  


.parentElement {
    height: 100vh; /* Specify an appropriate height(to set sticky pos.)*/
  }
  
.NavNheader {
    display: flex;
    top: 0px;
    z-index: 1;
    align-items: center;
    border:2px solid transparent;
    background-color: rgb(250, 59, 90);

    
  }
  nav li:hover{
    cursor:pointer;
   color :antiquewhite;
   text-decoration: underline;
  }

.eachHeading:hover{
   text-decoration: underline;
   cursor:pointer;
   color: rgb(220, 33, 33);
}

  
  