html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0%;
}
*{
    margin: 0px;
}
body{
    background:linear-gradient(540deg, #24C6DC, #514A9D);
    }
.wholeBody{
    width: 50%;
    background: linear-gradient(45deg ,#283048 ,#818f94);
    color: #FFFF;
    position: relative;
    left: 24%;
    height: 86vh;
    top: 20px;
    border-radius: 15px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 3px 3px 8px black;
}
.formDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 96%;
    align-content: center;
    align-items: center;
    row-gap: 10px;
    
}
.input{
    height: 50px;
    width:70%;
    align-items: center;
    display: flex;
    border-radius: 6px;
    border: 0.4px solid black;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFF;
    transition: background-color 0.3s, color 0.3s;
}
.input:focus{
    background-color: rgb(220, 218, 218);
    border: 1px solid lightskyblue;
}

#files{
    display: flex;
    text-align: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    column-gap: 6px;
    font-weight: 500;
    color: black;
}
#files:hover{
    cursor: pointer;
    background-color: #c3b9ee;
    color: #ffffff;
}
#files:hover #svg{
    cursor: pointer;
    background-color: #c3b9ee;
    color: #ffffff;
}

#svg{
    color: #7a5af5;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
    font-size: 1.3em;
}
.submit{
    font-size: 1.25em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    background-color:whitesmoke;
    text-align: center;
    height: fit-content;
    border: 0.5px solid black;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    padding: 4px 0px 4px;

}
.submit:hover{
    cursor: pointer;
    background-color: #c3b9ee;
    color: #ffffff;
}
.googleSign{
    display: flex;
    align-items: flex-end;
    background-color: #ffff;
    width: 60%;
    color: black;
    text-align: center;
    justify-content: center;
    height: fit-content;
    padding: 8px 0px;
    font-size: 1.25em;
    border-radius: 15px;
    border: 1.3px solid black;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    column-gap: 6px;
    font-weight: 400;
}
.googleSign:hover{
    cursor: pointer;
    color: #ffff;
    background-color: #c3b9ee;
    border: 1.3px solid rgb(48, 68, 249);
}
.login{
    font-size: 0.95em;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    height: fit-content;
    padding: 5px 9px;
    border-radius: 10px;
    color: rgb(78, 184, 251);
    transition: color 0.3s;
}
.login:hover{
    color: #c3b9ee;
}

.parentLogin{
    display:flex;
    font-size:1.15em;
    height: fit-content;
    align-items: center;
}
.three{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 96%;
    justify-content: center;
    row-gap: 5px;

}
.createUser{
    height: fit-content;
    padding: 5px 9px;
    transition: color 0.3s;
    font-size:1.15em;
    font-weight: 500;
    color: rgb(78, 184, 251);
    text-decoration: underline;
}
.createUser:hover{
    color: #c3b9ee;
    cursor: pointer;
}

@media only screen and (min-width: 280px) and (max-width: 450px) {
    body, html {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        margin: 0%;
        overflow: hidden;

    }
    #root{
        width: 100%;
        height: 96vh;
        overflow: hidden;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    *{
        margin: 0px;
    }
    .wholeBody{
        overflow: hidden;
        width: 95%;
        padding-top: 27px;
        height: auto;
        border-radius: 15px;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        border: 0.5qpx solid black;
        box-shadow: 0px 0px 0px black;
        top: 0px;
        overflow: hidden;
        align-items: center;
        left: 0px;
    }
    .input{
        width:85%;
    }
    .submit{
        width:85%;
    }
    .googleSign{
        width:80%;

    }
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
    body, html {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        margin: 0%;
        overflow: hidden;

    }
    #root{
        width: 100%;
        height: 96vh;
        overflow: hidden;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    *{
        margin: 0px;
    }
    .wholeBody{
        overflow: hidden;
        width: 85%;
        height: 80vh;
        border-radius: 15px;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        border: 0.5px solid black;
        box-shadow: 3px 3px 8px black;
        top: 0px;
        overflow: hidden;
        align-items: center;
        left: 0px;
    }
    .input{
        width:80%;
    }
    .submit{
        width:80%;
    }
    .googleSign{
        width:75%;

    }
}

