.top_header{
    width: 85%;
    background-color: #555454;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 9vh;
}
.fireChat{
    font-size: 1.7em;
    color: #FFFF;
    font-family: serif;
    height: 100%;
    text-align: center;
    width: 30%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-weight: 700;
    letter-spacing: 1px;
}
.svg{
    height: 100%;
}
.darkNLog{
    flex-direction: row;
    column-gap: 30px;
    color: #FFFF;
    font-size: 1.1rem;
    display: grid;
}
#darkmode{
    font-size: 2em;
    color: yellow;
    position: relative;
    right: 90px;
}
#darkmode:hover{
    cursor: pointer;
    color:rgb(236, 236, 50);

}
.logout{
    font-size:2em;
    color: whitesmoke;
    transition: font-size 0.5s, color 0.5s;
    position: absolute;
}
.logout:hover{
    cursor: pointer;
    font-size:2.2em;
    color: white;

}
#toggleDark{
    background-color:rgb(64, 69, 72);
}
#toggleLight{
    background-color: #555454;
}

@media only screen and (min-width: 290px) and (max-width: 425px) {
    .top_header{
        width: 100%;
        align-items: center;
        align-content: center;
    }
    .fireChat {
        width:60%;
        font-size: 1.5em;
        justify-content: start;
        align-items: center;
        align-content: center;
    }
    
    
}

@media only screen and (min-width:425px) and (max-width: 768px) {
    .top_header{
        width: 100%;
    }
    .fireChat {
        width:40%;
        font-size: 1.5em;
        justify-content: center;
    }
    
}

